src/flows/Find_Address_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_New_Lng_Lat</name>
        <label>Set New Lng &amp; Lat</label>
        <locationX>304</locationX>
        <locationY>158</locationY>
        <assignmentItems>
            <assignToReference>Longitude</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>addressPickerCmp.longitude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Latitude</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>addressPickerCmp.latitude</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Address_Found</targetReference>
        </connector>
    </assignments>
    <description>Sample Flow of how to use the Address Picker Autocomplete for Flow component.
Screen 1 - contains the component.
Screen 2 - shows ways to output the result

Map, Address Fields, and County are active with a Default Value for Longitude and Latitude at Salesforce Tower, San Francisco.
Output variables are set as Input as well so going &apos;Back&apos; will keep data.</description>
    <interviewLabel>Find Address Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Sample Address Picker Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Address_Found</name>
        <label>Address Found</label>
        <locationX>472</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FoundAddressTitle</name>
            <fieldText>&lt;p&gt;Your chosen address details are:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AddressFormat3</name>
            <fieldText>&lt;p&gt;Address generated from the Places API, the &apos;full&apos; formatted address in a single field&lt;/p&gt;&lt;p&gt;&lt;b&gt;Result &lt;/b&gt;{!addressPickerCmp.formattedAddress}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AddressFormat1</name>
            <fieldText>&lt;p&gt;Address output from separate fields strung together.&lt;/p&gt;&lt;p&gt;This uses &lt;b&gt;Premise + Street Number + Street + City + Province + Postal Code + Country&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Result: &lt;/b&gt;{!addressPickerCmp.premise}, {!addressPickerCmp.street_number} {!addressPickerCmp.route}, {!addressPickerCmp.locality}, {!addressPickerCmp.administrative_area_level_1} {!addressPickerCmp.postal_code}, {!addressPickerCmp.country}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AddressFormat2</name>
            <fieldText>&lt;p&gt;Street Address as custom formatted by the component, picked up from the &quot;Street&quot; field.&lt;/p&gt;&lt;p&gt;This uses &lt;b&gt;Street Number + Street Name&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Result: &lt;/b&gt;{!addressPickerCmp.fullStreetAddress}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AddressFormat4</name>
            <fieldText>&lt;p&gt;Additional data that&apos;s picked up by the component results&lt;/p&gt;&lt;p&gt;&lt;b&gt;County: &lt;/b&gt;{!addressPickerCmp.administrative_area_level_2}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Longitude: &lt;/b&gt;{!addressPickerCmp.longitude}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Latitude:&lt;/b&gt; {!addressPickerCmp.latitude}&lt;/p&gt;&lt;p&gt;&lt;b&gt;API Place ID:&lt;/b&gt; {!addressPickerCmp.placeId}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FoundAddressText</name>
            <fieldText>You can then write these into object fields however you like!</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AddressCmpAltText</name>
            <fieldText>&lt;p&gt;As an alternative format, you may also reduce it down to a single input text field like so.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>addressPickerCmpAlt</name>
            <extensionName>c:AddressValidation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showAddressFields</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showMap</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showTitle</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>locality</name>
                <value>
                    <elementReference>addressPickerCmp.locality</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <elementReference>addressPickerCmp.country</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>administrative_area_level_2</name>
                <value>
                    <elementReference>addressPickerCmp.administrative_area_level_2</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>formattedAddress</name>
                <value>
                    <elementReference>addressPickerCmp.formattedAddress</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fullStreetAddress</name>
                <value>
                    <elementReference>addressPickerCmp.fullStreetAddress</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>latitude</name>
                <value>
                    <elementReference>addressPickerCmp.latitude</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>location</name>
                <value>
                    <elementReference>addressPickerCmp.location</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>longitude</name>
                <value>
                    <elementReference>addressPickerCmp.longitude</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>placeId</name>
                <value>
                    <elementReference>addressPickerCmp.placeId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postal_code</name>
                <value>
                    <elementReference>addressPickerCmp.postal_code</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>premise</name>
                <value>
                    <elementReference>addressPickerCmp.premise</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>administrative_area_level_1</name>
                <value>
                    <elementReference>addressPickerCmp.administrative_area_level_1</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>route</name>
                <value>
                    <elementReference>addressPickerCmp.route</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street_number</name>
                <value>
                    <elementReference>addressPickerCmp.street_number</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Find_Address</name>
        <label>Find Address</label>
        <locationX>141</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_New_Lng_Lat</targetReference>
        </connector>
        <fields>
            <name>Find_Address_Text</name>
            <fieldText>&lt;p&gt;This is a sample of how the Flow Address Picker component can be used. By configuring the attributes you can show and hide certain features.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The inputs are set to the output values so that it retains the values when going &apos;Back&apos; from the next screen. The only exception is the Longitude and Latitude where the variable has a default value set to the San Francisco Salesforce Tower:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Longitude&lt;b&gt;:&lt;/b&gt; 37.7897912&lt;/p&gt;&lt;p&gt;Latitude&lt;b&gt;:&lt;/b&gt; -122.3969328&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;These values are updated by the following Assignment element after going &apos;Next&apos;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>addressPickerCmp</name>
            <extensionName>c:AddressValidation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>showMap</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showAddressFields</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <elementReference>addressPickerCmp.country</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>locality</name>
                <value>
                    <elementReference>addressPickerCmp.locality</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postal_code</name>
                <value>
                    <elementReference>addressPickerCmp.postal_code</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>premise</name>
                <value>
                    <elementReference>addressPickerCmp.premise</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>administrative_area_level_1</name>
                <value>
                    <elementReference>addressPickerCmp.administrative_area_level_1</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>route</name>
                <value>
                    <elementReference>addressPickerCmp.route</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street_number</name>
                <value>
                    <elementReference>addressPickerCmp.street_number</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fullStreetAddress</name>
                <value>
                    <elementReference>addressPickerCmp.fullStreetAddress</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showTitle</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>latitude</name>
                <value>
                    <elementReference>Latitude</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>longitude</name>
                <value>
                    <elementReference>Longitude</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>placeId</name>
                <value>
                    <elementReference>addressPickerCmp.placeId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>formattedAddress</name>
                <value>
                    <elementReference>addressPickerCmp.formattedAddress</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showCountyField</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>administrative_area_level_2</name>
                <value>
                    <elementReference>addressPickerCmp.administrative_area_level_2</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>location</name>
                <value>
                    <elementReference>addressPickerCmp.location</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldsRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Find_Address</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Latitude</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>37.7897912</stringValue>
        </value>
    </variables>
    <variables>
        <name>Longitude</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>-122.3969328</stringValue>
        </value>
    </variables>
</Flow>
